<div class="mainWrapper">
		<a id ="return" href="#!/welcome"><i id = "exitArrow" class = "material-icons">arrow_back</i>Return</a>
		<h1>TO-DO List</h1>
		<h3>The neat app that keeps track</h3>
		<input id = "searchBar" type="text" ng-model="searchBar" placeholder="Filter your to-dos">
		<ol>
			<li ng-repeat="task in $ctrl.list | toArray: false | filter:searchBar" hover-state> 
			{{task}}
			<span><i class="material-icons" ng-click="$ctrl.remove($index)">close</i></span>
			</li>
		</ol>
		<form>
			<input id="taskInput" type="text" placeholder="Add your to-do" ng-model="$ctrl.task">
			<button ng-click="$ctrl.set($ctrl.task);">Add</button>
		</form>
</div>